.controller.edit {
    background: url(https://raw.githubusercontent.com/appleguy010/blue-gampad-skin/master/base-blue.png);
    height: 650px;
    width: 743px;
}
.edit .stick {
    position: absolute;
    background: url(https://raw.githubusercontent.com/appleguy010/blue-gampad-skin/master/sticks.png);
    background-position: 84px 0;
    height: 84px;
    width: 84px;
}
.edit .sticks{
    position: absolute;
    width: 140px;
    height: 139px;
    top: 231px;
    left: 138px;

}
.edit .stick.right{
    top: calc(100% - 0px);
    left: calc(100% + 0px);
}
.edit .abxy{
    position: absolute;
    top: 156px;
    left: 538px;
}
.edit .quadrant{
    display: none
}
