.controller.edit {
    background: url(https://raw.githubusercontent.com/appleguy010/blue-gampad-skin/master/base-blue2.png);
    height: 650px;
    width: 743px;
}
.edit .stick {
    position: absolute;
    background: url(https://raw.githubusercontent.com/appleguy010/blue-gampad-skin/master/sticks.png);
    background-position: 84px 0;
    height: 84px;
    width: 84px;
}
.edit .sticks{
    position: absolute;
    width: 140px;
    height: 139px;
    top: 231px;
    left: 138px;

}
.edit .stick.right{
    top: calc(100% - 25px);
    left: calc(100% + 150px);
}
.edit .bumper{
    width: 162px;
    height: 60px;
    background: url(https://raw.githubusercontent.com/appleguy010/blue-gampad-skin/master/bumper.png);
    opacity: 0;
}
.edit .bumpers{
    width: 523px;
    top: 130px;
    left: 110px;
}
/*.edit .bumper.right{
    left: calc(100% - 12px);
}*/
.edit .abxy{
    position: absolute;
    top: 190px;
    left: 483px;
}
.edit .button{
    position: absolute;
    width: 54px;
    height: 54px;
    background: url(https://raw.githubusercontent.com/appleguy010/blue-gampad-skin/master/abxy2.png);
}
.edit .button.pressed{
    background-position-y: -56px;
    margin-top: -1px;
}
.edit .a{
    background-position: 0 0;
    top: 108px;
    left: 55px;
}
.edit .b{
    background-position: -53px 0;
    top: 61px;
    left: 105px;
}
.edit .x{
    background-position: -106px 0;
    top: 58px;
    left: 2px;
}
.edit .y{
    background-position: 54px 0;
    left: 54px;
    top: 9px;
}
.edit .arrows{
    position: absolute;
    width: 143px;
    height: 33px;
    top: 257px;
    left: 300px;
}
.edit .back, .edit .start{
    background: url(https://raw.githubusercontent.com/appleguy010/blue-gampad-skin/master/start-select1.png);
    width: 33px;
    height: 33px;
    opacity: 0;
}
.edit .back.pressed, .edit .start.pressed{
    opacity: 1;
}

.edit .back{
    float: left;
}
.edit .start{
    background-position: 33px 0px;
    float: right;
}
.edit .dpad{
    position: absolute;
    width: 110px;
    height: 111px;
    top: 345px;
    left: 223px;
}
.edit .face{
    background: url(https://raw.githubusercontent.com/appleguy010/blue-gampad-skin/master/dpad1.png);
    position: absolute;
    opacity: 0;
}
.edit .face.pressed{
    opacity: 1;
}
.edit .face.up{
    background-position: 34px 0;
    left: 38px;
    top: 0px;
    width: 37px;
    height: 36px;
}
.edit .face.down{
    left: 38px;
    bottom: 0;
    width: 38px;
    height: 35px;
}
.edit .face.left{
    background-position: 0 -83px;
    width: 36px;
    height: 38px;
    top: 38px;
    left: 0;
}
.edit .face.right{
    background-position: 0 -57px;
    width: 36px;
    height: 38px;
    top: 38px;
    right: 0;
}
.edit .quadrant{
    display: none
}
