.controller.edit {
    background: url(https://raw.githubusercontent.com/appleguy010/blue-gampad-skin/master/base-blue.png);
    height: 650px;
    width: 743px;
}
.edit .stick {
    position: absolute;
    background: url(https://raw.githubusercontent.com/appleguy010/blue-gampad-skin/master/sticks.png);
    background-position: 84px 0;
    height: 84px;
    width: 84px;
}
.edit .sticks{
    position: absolute;
    width: 140px;
    height: 139px;
    top: 231px;
    left: 138px;

}
.edit .stick.right{
    top: calc(100% - 25px);
    left: calc(100% + 150px);
}
.edit .bumper{
    width: 162px;
    height: 60px;
    background: url(https://raw.githubusercontent.com/appleguy010/blue-gampad-skin/master/bumper.png);
    opacity: 0;
}
.edit .bumpers{
    width: 523px;
    top: 130px;
    left: 110px;
}
/*.edit .bumper.right{
    left: calc(100% - 12px);
}*/
.edit .abxy{
    position: absolute;
    top: 300px;
    left: 538px;
}
.edit .quadrant{
    display: none
}
