.controller.edit {
    background: url(https://raw.githubusercontent.com/appleguy010/blue-gampad-skin/master/base-blue.png);
    height: 650px;
    width: 743px;
}
.edit .stick {
    position: absolute;
    background: url(https://raw.githubusercontent.com/appleguy010/blue-gampad-skin/master/sticks.png);
    background-position: 84px 0;
    height: 84px;
    width: 84px;
}
.edit .stick.left{
    top: -10;
    left: -10;
}
.edit .quadrant{
	display: none
}