.controller.edit {
    background: url(https://raw.githubusercontent.com/appleguy010/blue-gampad-skin/master/base-blue.png);
    height: 1056px;
    width: 594px;
}
.edit .stick {
    position: absolute;
    background: url(http://i.imgur.com/LpLOf3G.png);
    height: 86px;
    width: 86px;
}